* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding: 15px;
}

.todo-box {
    background-color: #353434;
    padding: 2%;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    max-height: 80vh;
    overflow-y: auto;
    box-shadow: 0px 5px 7px rgb(27, 27, 27);
    scrollbar-width: none;
}

.todo-input {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgb(78, 78, 78);
}

.input-box {
    flex-direction: row;
    margin: 20px;
}

.input-box input {
    width: 230px;
    padding: 7px;
    margin-top: 5px;
    outline: 0;
    border: 0;
    font-size: 18px;
}

.input-box button {
    font-size: 17px;
    padding: 6px 14px;
    margin-top: 12px;
    cursor: pointer;
    background-color: #03E77B;
    outline: 0;
}

.task-status {
    margin-top: 20px;
    display: inline-block;
    margin-left: 21px;
}

.task-status button {
    font-size: 17px;
    padding: 5px;
    outline: 0;
    border: 0;
    cursor: pointer;
}

.Task-box {
    margin-left: 21px;
    margin-top: 25px;
    border: 1px solid red;
    padding: 12px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.4);
    width: 600px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#taskList {
    flex: 1;
    display: block;
    overflow-y: auto;
    scrollbar-width: none;
    width: 440px;
    height: auto;
}

#taskList h2 {
    font-size: 16px;
    padding: 5px;
    word-wrap:break-word;
    white-space: normal;
    scrollbar-width: none;
}

.list-icons {
    padding-left: 15px;
    cursor: pointer;
}

.header {
    background-color: red;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
}

@media screen and (max-width: 501px) {
    .header {
        width: 500px;
    }
}

.inputForm {
    width: 500px;
    margin: 0 auto;
    background-color: red;
    padding: 20px;
    border-radius: 7px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4);
    margin-bottom: 25px;
}

.inputContainer {
    display: flex;
}

.inputContainer input {
    width: 100%;
    padding: 7px;
    font-size: 17px;
    border: none;
    outline: none;
    background: transparent;
}

.inputContainer input::placeholder {
    color: #fff;
}

.inputContainer button {
    background-color: rgb(214, 214, 22);
    padding: 8px 12px;
    font-size: 17px;
    color: #fff;
    border-radius: 6px;
    border: none;
    outline: none;
    cursor: pointer;
}

.taskContainer {
    background-color: red;
    margin: 10px auto;
    border-radius: 7px;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
}

#taskList {
    margin: 10px 0;
    cursor: pointer;
}

.taskIcon {
    display: flex;
}

.icon {
    cursor: pointer;
    padding: 0 5px;
}

.cutWord {
    text-decoration: line-through;
    color: rgba(195, 255, 253, 0.955);
    font-style: italic;
}

.empty{
    width: 300px;
    height: 100px;
    margin: 0 auto;
    margin-top: 80px;
    background-color: red;
    border-radius: 7px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4);
    color: #fff;
}